doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description", content="The beginnings of a great, typesafe application")
        title Elm fullstack starter
        
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous") 
        link(rel="stylesheet" href="styles.css")
        
        script(type="text/javascript" src="Main.js")
        
    body
        script.
            var d = Elm.Main.fullscreen();
