@import '../../../node_modules/bootstrap/scss/bootstrap';

body {
    background-color: rgb(210, 246, 188);
    font-family: sans-serif;
}

h1 {
    color: rgb(13, 69, 79);
}

button {
    margin-right: 15px;
}
