doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description", content="The beginnings of a great, typesafe application")
        title Elm fullstack starter
        script(type="text/javascript" src="Main.js")
        link(rel="stylesheet" href="styles.css")
        link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        
    body
        script.
            var d = Elm.fullscreen(Elm.Main);

        script.
            // Don't send GA message during deployment
            if (window.location.host.search('localhost') == -1) {

                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', '<**key**>', 'auto');
                ga('send', 'pageview');
            }

        script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
        script(type="text/javascript" src="js/materialize.min.js")
